main {
  font-family: "Public Sans", sans-serif;
}

.get-in-touch-header h1 {
  text-align: center;
}

.line {
  height: 1px;
  background: black;
  width: 250px;
  margin: auto;
}

.c-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 250px;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 150px;
  margin-top: 10px;
  background-color: rgb(211, 28, 28);
  border: none;
  border-radius: 10px;
  color: rgb(255, 252, 252);
  padding: 5px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.submit-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.is-success {
  border-color: green;
}

.is-error {
  border-color: red;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  border-radius: 8px;
  height: 25px;
}

label {
  display: flex;
  justify-content: center;
}

.form-parent-container {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {

  .line {
    height: 1px;
    background: black;
    width: 450px;
    margin: auto;
  }

  .form-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 350px;
  }

  input {
    height: 28px;
    border-radius: 10px;
  }

  .submit-button {
    display: flex;
    justify-content: center;
    width: 200px;
  }
}

@media (min-width: 1200px) {

  .line {
    height: 1px;
    background: black;
    width: 750px;
    margin: auto;
  }

  .form-items {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 400px;
  }

  input {
    height: 32px;
    border-radius: 13px;
  }

  .submit-button {
    display: flex;
    justify-content: center;
    width: 250px;
    padding: 8px;
    font-size: 16px;
    border-radius: 15px;
  }
}
